<section class="faq-page">
    
    <div class="section-header">
        <h1>FAQ</h1>
    </div>

    <div class="content">
        <mat-accordion>
            <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q1' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a1' | translate }}
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q2' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a2' | translate }}
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q4' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a4' | translate }}
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q5' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a5' | translate }}
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q6' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a6' | translate }}
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q7' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a7' | translate }}
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'faq q8' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br>
                <p>
                    {{ 'faq a8' | translate }}
                </p>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</section>