<div [formGroup]='securityTab'>
    <div>
        <h1>
            {{'Part One' | translate}}
        </h1>
        <app-part-one [isSubmit]="isSubmit"></app-part-one>
    </div>
    <div>
        <h1>
            {{'Part Two' | translate}}
        </h1>
        <app-part-two [isSubmit]="isSubmit"></app-part-two>
    </div>
    <div>
        <h1>
            {{'Part Three' | translate}}
        </h1>
        <app-part-three [isSubmit]="isSubmit"></app-part-three>
    </div>
    <div>
        <h1>
            {{'Part Four' | translate}}
        </h1>
        <app-part-four [isSubmit]="isSubmit"></app-part-four>
    </div>
    <div>
        <h1>
            {{'Part Five' | translate}}
        </h1>
        <app-part-five [isSubmit]="isSubmit"></app-part-five>
    </div>
</div>