<section class="terms-page">
    <div class="section-header">
        <h1>{{"Terms and Conditions" | translate}}</h1>
    </div>

    <div class="content">
        <h2>{{"Privacy Policy" | translate}}</h2>
        {{"privacy policy content" | translate}}
    </div>

    <div class="content">
        <h2>{{"Traffic Data" | translate}}</h2>
        {{"Traffic Date content" | translate}}
    </div>

    <div class="content">
        <h2>{{"Personal Information" | translate}}</h2>
        {{"Personal Information content" | translate}}
    </div>

    <div class="content">
        <h2>{{"Data Protection" | translate}}</h2>
        {{"Data Protection content" | translate}}
    </div>

    <div class="content">
        <h2>{{"Reporting Misuse of Data" | translate}}</h2>
        <p>{{"Reporting Misuse of Data Content" | translate}}</p>
    </div>

    <div class="content">
        <h2>{{"Payment of Fees" | translate}}</h2>
        {{"Payment of Fees content" | translate}}
    </div>

    <div class="content">
        <h2>{{"Payment" | translate}}</h2>
        {{"Payment content" | translate}}
    </div>

    <div class="content" style="border-bottom: 0;">
        <h2>{{"Termination of Agreements and Refunds Policy" | translate}}</h2>
        {{"Termination of Agreements and Refunds Policy content" | translate}}
    </div>
</section>