.terms-page {
    position: relative;
    padding: 84px 32px 32px 32px;
    background-color: #002868;
    
    
    color: rgba(255, 255, 255, 0.7);

    .section-header {
        position: relative;
        text-align: center;
        padding: 64px 0 32px 0;
        z-index: 1;
        h1 {
            text-transform: uppercase;
            font-size: 30px;
        }
    }
    .content {
        padding: 32px 0;
        position: relative;
        font-size: 18px;
        font-weight: 300;
        line-height: 200%;
        z-index: 1;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        h2 {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
