<div [formGroup]='securityTab'>
    <section class="section">
        <label class="selection-label">
            {{'assistImmigration' | translate}}
        </label>
        <mat-radio-group formControlName="assistImmigration">
            <mat-radio-button class="example-margin" value="yes">{{'Yes' | translate}}</mat-radio-button>
            <mat-radio-button class="example-margin" value="no">{{'No' | translate}}</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="isSubmit && securityTab.get('assistImmigration').invalid">
            {{'This field is' | translate}} <strong>{{'required' | translate}}</strong>
        </mat-error>
    </section>

    <div *ngIf="securityTab.get('assistImmigration').value === 'yes'">
        <mat-form-field class="example-full-width">
            <mat-label>{{'Please Explain' | translate}}</mat-label>
            <input required matInput formControlName="explainAssistImmigration"
                placeholder="{{'Please Explain' | translate}}" />
        </mat-form-field>
    </div>

    <section class="section">
        <label class="selection-label">
            {{'beenDeported' | translate}}
        </label>
        <mat-radio-group formControlName="beenDeported">
            <mat-radio-button class="example-margin" value="yes">{{'Yes' | translate}}</mat-radio-button>
            <mat-radio-button class="example-margin" value="no">{{'No' | translate}}</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="isSubmit && securityTab.get('beenDeported').invalid">
            {{'This field is' | translate}} <strong>{{'required' | translate}}</strong>
        </mat-error>
    </section>

    <div *ngIf="securityTab.get('beenDeported').value === 'yes'">
        <mat-form-field class="example-full-width">
            <mat-label>{{'Please Explain' | translate}}</mat-label>
            <input required matInput formControlName="explainBeenDeported"
                placeholder="{{'Please Explain' | translate}}" />
        </mat-form-field>
    </div>
</div>